.header {
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(
      to right,
      #fff,
      #ff793f,
      #ff5252,
      #706fd3,
      #33d9b2,
      #34ace0,
      #ff5252,
      #ff793f,
      #fff
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .navbar {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    .logo {
      color: #ff793f;
      font-weight: 600;
      margin-right: 20px;
      font-size: 1.5rem;

      & + label {
        display: none;

        & + input {
          display: none;
        }
      }
    }

    .collapse {
      display: flex;
      flex-grow: 1;

      .links {
        display: flex;
        margin-right: auto;

        li {
          position: relative;
          width: auto;
          color: #666;
          margin: 0 1.2rem;
          font-size: 1.15rem;
          display: inline-block;

          &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #ff793f;
            position: absolute;
            bottom: -6px;
            left: 0;
            transform: scale(0);
            transition: 0.3s;
          }

          a {
            color: #666;
            transition: 0.3s;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
            & > a {
              color: #ff793f;
            }
          }
        }
      }

      .form {
        a {
          border: 1px solid #ff793f;
          border-radius: 0.3rem;
          padding: 0.5rem 1rem;
          color: #ff793f;
          transition: 0.3s linear;

          &:hover {
            background: #f56020;
            color: #fff;
          }

          &.form-bg {
            background: #ff793f;
            color: #fff;
            margin-left: 0.5rem;

            &:hover {
              background: #f56020;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .navbar {
      flex-flow: row wrap;
      .logo {
        margin-right: auto;

        & + label {
          display: block;
          border: 0.14rem solid #ff793f;
          padding: 0.3rem 0.6rem;
          color: #ff793f;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.5s;

          & + input:checked + .collapse {
            display: block;
          }
        }
      }

      .collapse {
        display: none;
        flex-direction: column;
        width: 100%;

        .links {
          display: inline-flex;
          flex-direction: column;
          margin-bottom: 1.5rem;
          li {
            text-align: center;
            margin: 0.5rem 0;
            display: inline-block;
          }
        }
      }
    }
  }
}
